body{
    font-family:  Verdana, "Open Sans", Helvetica, Arial;
    background: url("images/front.jpg") fixed no-repeat;
    background-size: 100% 100%;
}
#sectionid button{
    text-align: center;
    font-size: 1.4rem;
    color:white;
    background:rgba(0,0,0,0.7) ;
    float: right;
    margin-right: 0.8rem;
}
#sectionid #inpsearch{
    border: 1px solid rgba(0,0,0,0.6);
    font-size: 1.2rem;
    float: right;
    margin-right: 0.8rem;
}
.container-fluid{
    background:rgba(0,0,0,0.6); 
    color:white;
    text-align: center;
    font-size: 1.2rem; 
    margin-top: 3rem;
    padding: 1rem;       
}
.container-fluid h1{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 1.2rem;
}
#tbltable tr th{
    text-align: center;
    font-size: 1.6rem;
}
h1 .row .col-xs-6 input
{
    display: inline-block;
    margin-left: 830px;
    margin-top: -34px;
    width:20rem;
}
#tbltable #tbltbody tr{
    color: cyan;
    font-size: 1.4rem;
}
#tbltable #tbltbody tr:hover{
    background-color: rgba(255, 255, 255, 0.959);
    color: rgb(0, 119, 255);

}
#tbltable #tbltbody .tdupdate{
    width: 8rem; 
    display: inline-block;
    margin-left:0px;
}
.modal .modal-dialog .modal-content .modal-body .contact-form input{    
    width:32rem;
    margin:0.4rem;
    font-size:1.5rem;
    color:black;   
    text-align: left;
}
.modal .modal-dialog .modal-content .modal-body .contact-form select{
    width:32rem;
    margin:0.4rem;
    font-size:1.5rem;
    color:black;
}
.modal .modal-dialog .modal-content{
    color:black;
    font-size: 1.5rem;
}
.button
{
    display: inline-block;
    margin:auto;
}